/*Global reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start here */


#hello {
    position: relative;
    font-family: 'Bree Serif', serif; 
    font-size: 75px; 
    left: 40px;  
    top: 100px; 
    color: #42BEFF; 
    text-shadow: 4px 4px blanchedalmond;
}

#title {
    position: relative;
    font-family: 'Bree Serif', serif; 
    font-size: 35px; 
    left: 40px;  
    top: 70px; 
    color:#3C3DE8;
    text-shadow: 4px 4px blanchedalmond;
    bottom: 250px; 
}
 #card { 
     top: 120px; 
     left: 30px; 
 }  

 #about {
    position: relative;
    font-family: 'Bree Serif', serif; 
    font-size: 75px; 
    left: 35px;  
    top: 180px; 
    bottom: 40px; 
    color: #42BEFF; 
    text-shadow: 4px 4px blanchedalmond;
 }

 #motto {
    
    font-size: 45px; 
    top: 250px; 
    font-family: 'Bree Serif', serif; 
    text-shadow: 2px 2px blanchedalmond;

 }

 #caps {
    font-size: 45px; 
    top: 450px; 
    font-family: 'Bree Serif', serif; 
    text-shadow: 2px 2px blanchedalmond;
 }

 #capss {
    left: 30px; 
 }

 #chead {
    font-family: 'Bree Serif', serif; 
    text-shadow: 2px 2px blanchedalmond;
 }

